<section>
  <div>
    <header>
      <h1 class="center">{{ title }}</h1>
      <h2 class="center">{{ subtitle }}</h2>
      
      <button (click)="toggleHeart()" mat-stroked-button color="primary">
        <mat-icon ></mat-icon> 
        {{ heartButton ? 'Remove Heart' : 'Heart Them' }}
      </button>
    </header>
    <article>
      <ng-content selector="card-content"></ng-content>
    </article>
    <footer>
    <mat-icon [ngClass]="{ 'minusHearts': !heartButton, 'addHearts': heartButton }">favorite</mat-icon>
    <span *ngIf = 'hearts  === 1'> {{ hearts }}</span>
    </footer>
  </div>
</section>
