.addHearts {
  color:pink;
}

.minusHearts{
  color:lightgrey;
}
section{
  display: flex;
  justify-content: center;
  margin-top: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  display: flex;
  flex-direction: column;
}
.center{
  display: flex;
  justify-content: center;
  line-height: .5px;
}
h2 {
  font-size: small;
  color: darkgrey;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1em;
}
div {
  box-shadow: 1px 2px 20px #eee;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
}

footer {
  display: flex;
  justify-content: center;
}