<section>
  <div>
    <header>
      <h1 class="center">{{ title }}</h1>
      <h2 class="center">{{ subtitle }}</h2>
      
      <button (click)="heartButton = !heartButton" mat-stroked-button color="primary" >
       <mat-icon *ngIf='!heartButton' > {{  addHearts }}</mat-icon> 
       Heart Them
      </button>
      <ng-template #Hearted>

      </ng-template>
    </header>
    <article>
      <ng-content selector="card-content"></ng-content>
    </article>
    <footer>
    <mat-icon>favorite</mat-icon>
    <span *ngIf = 'hearts > 1'> {{ hearts }}</span>
    </footer>
  </div>
</section>
